#container1{
    position: relative;
    width: 580px;
    padding: 1px;
    text-align: left;
    background: #fff;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-color: #000000;
    border-width: 3px;
    border-style: solid;
}

#container2{
    position: relative;
    width: 574px;
    padding: 1px;
    text-align: left;
    background: #999;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-width: 3px;
    border-style: solid;
}

.acept{
    font-size:11px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:black;
    background: url(../imag/ok.png) no-repeat;
    width:100px;
    height:25px;
    cursor:  pointer;
    outline:none; 
    display:block; 
    color: #444;
    overflow: hidden;
    background-color: #000000;
    color: #FFF;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);background-color: graytext;
    outline:none; 
    display:block; 
}

.cansel{
    font-size:11px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:black;
    background: url(../imag/borrar.ico) no-repeat;
    width:100px;
    height:25px;
    cursor:  pointer;
    outline:none; 
    display:block; 

    color: #444;
    overflow: hidden;
    background-color: #000000;
    color: #FFF;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);background-color: graytext;
    outline:none; 
    display:block; 
}